uploads
createdfiles
images/headlogo.png
includes/tinymce
includes/greedynav
*.ttf
*.eot
*.csv
jquery.min.js
jquery.min.map
xlsxwriter.class.php
settings.php
munkaprint.php
terminal.php
homokozo.php
.vscode
api/classes
node_modules
nodejs/logs
snmp_trap.json
jsconfig.json
teszt.*
modules/telefonkonyv/includes/telefonkonyvexport.php
modules/telefonkonyv/includes/telefonkonyvmodositasexport.php
api/apiteszt.php
