Options -Indexes
SetEnv APP_ROOT_PATH /info
RewriteEngine On
RewriteRule \.(css|jpe?g|gif|png|js|ico)$ - [L]
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d

RewriteRule ^ - [L]

RewriteRule ^api/([^/]+)/?$   ./api/index.php?list=$1 [L,QSA]
RewriteRule ^api/([^/]+)/([^/]+)/?$   ./api/index.php?list=$1&param=$2 [L,QSA]

RewriteRule ^([^/]+)/?$ index.php?page=$1 [L,QSA]
RewriteRule ^([^/]+)/([^/]+)/?$ index.php?page=$1&id=$2 [L,QSA]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/?$ index.php?page=$1&subpage=$2&param=$3 [L,QSA]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)/?$ index.php?page=$1&subpage=$2&param=$3&id=$4 [L,QSA]