/* Színmeghatározások */
:root {
    --body: #141414 !important;
    --basefont: #c4cccc !important;
    --fontlight: #c4cccc !important;
    --fontlight2: #c4cccc !important;
    --contentbg: #252525 !important;
    --menu: #2b2b2b !important;
    --menuhover: #252526 !important;
    --submenu: #575757 !important;
    --submenuhover: #282829 !important;
    --link: #007acc !important;
    --linkhover: #663399 !important;
    --infoboxtitle: #212124 !important;
    --infotitleborder: #171717 !important;
    --infoboxthead: #201f1f !important;
    --infoboxsoro: #2d2d2d !important;
    --infoboxsore: #333333 !important;
    --cardbase: #313131 !important;
    --cardtitle: #29292c !important;
    --cardoptions: #444647 !important;
    --lightborder: #171717  !important;
    --midborder: #252525 !important;
    --button: #007acc !important;
    --buttonborder: #004b7e !important;
    --buttonhover: #1c4663 !important;
    --checkswitchbg: #575757 !important;
    --checkswitch: #2196F3 !important;
    --checkswitchtrack: #3f3f3f !important;
    --topbase: #252526 !important;
    --topborder: #141414 !important;
    --shadow: #151515 !important;
    --selectbg: #575757 !important;
    --thead: #191919 !important;
    --tsoro: #282828 !important;
    --tsore: #2d2d2d !important;
    --online: #018216 !important;
    --offline: #b10101 !important;
    --scrolltrack: #292828  !important;
    --scrollthumb: #414141 !important;
    --scrollthumbhover: #4d4d4d !important;
    --infoboxscrollthumb: #414141 !important;
    --notifcount: #990000 !important;
    --notifseen: #5f6263 !important;
    --notifpopscrolltrack: #1a1a1a !important;
    --notifpopscrollthumb: #3c3e3f !important;
    --overlayclose: #aaaaaa !important;
    --toasterbg: #2e2e2e !important;
    --commentbg: #666666 !important;
    --footerbg: #141414 !important;
    --loadercolor: #3498db !important;
    --warning: #990000 !important;
}

.dontprint img {
    filter: invert() brightness(80%);
}

.infoboxtitle img, td img {
    filter: invert() brightness(80%);
}

.topmenuikonok img:hover {
    filter: brightness(140%) !important;
}