@font-face {
    font-family: "inter";
    src: url("./includes/Inter-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "bench";
    src: url("./includes/BenchNine-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "roboto";
    src: url("./includes/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "oswald";
    src: url("./includes/Oswald-Regular.ttf") format('truetype');
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* Színmeghatározások */
:root {
    --body: #000000;
    --basefont: #000000;
    --fontlight: #e0e0e0;
    --fontlight2: #f7f7f7;
    --greyfont: #a1a1a1;
    --contentbg: #ededed;
    --menu: #2d373c;
    --menuhover: #1f282d;
    --submenu: #717a7f;
    --submenuhover: #35454d;
    --link: #007acc;
    --linkhover: #663399;
    --infoboxtitle: #0f2c3a7c;
    --infotitleborder: #66747a;
    --infoboxthead: #8b96a1;
    --infoboxsoro: #cdd7dc;
    --infoboxsore: #abb0bc;
    --cardbase: #dfe3e6;
    --cardtitle: #d5d8db;
    --cardoptions: #ced4da;
    --lightborder: #9aa3a7;
    --midborder: #858585;
    --button: #007acc;
    --buttonborder: #004b7e;
    --buttonhover: #1c4663;
    --checkswitchbg: #c2c5cc;
    --checkswitch: #2196F3;
    --checkswitchtrack: #f7f7f7;
    --cbchecked: #007acc;
    --topbase: #f7f7f7;
    --topbase2nd: #edebeb;
    --topborder: #807d7d;
    --shadow: #252526;
    --selectbg: #f7f7f7;
    --thead: #969494;
    --tsoro: #e0e0e0;
    --tsore: #bbbbbb;
    --hibas: #666666;
    --hibasoffline: #990000ac;
    --online: #018216;
    --offline: #990000;
    --scrolltrack: #717a7f;
    --scrollthumb: #35454d;
    --scrollthumbhover: #212b30;
    --infoboxscrollthumb: #35454d;
    --headpopupbg: #2c3539;
    --notifcount: #990000;
    --notifseen: #43545e;
    --notifpopscrolltrack: #151c1f;
    --notifpopscrollthumb: #3d4d54;
    --overlayclose: #aaaaaa;
    --toasterbg: #333333;
    --commentbg: #666666;
    --footerbg: #000000;
    --loadercolor: #3498db;
    --warning: #990000;
    --addnewborder: #33343a;
    --alacsony: #3fbb01;
    --halaszthato: #b4fc00;
    --urgent: #c04d00;
    --important: #e1bc00;
}

/* ------------------------------- Az oldal "alapbeállításai" ------------------------------- */
body {
    margin: 0;
    display: block;
    font-family: "roboto";
    color: var(--basefont);
    background-color: var(--body);
    scrollbar-gutter: unset;
    overflow-x: hidden;
}

.wrapper {
    display: grid;
    justify-content: center;
    background-color: var(--menu);
    grid-template-columns: minmax(50px, 200px) 1fr 1fr;
    grid-template-rows: 50px minmax(0, max-content) minmax(500px, 2fr) minmax(0px, 200px) 30px;
    min-height: 100vh;
    margin: 0;
}

h1, h2, h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    margin-top: 0em;
    margin-bottom: 0.5em;
}

a {
    color: var(--basefont);
    font-weight: bold;
}

img {
    max-width: 100%;
    display: block;
}

figcaption, figcaption a {
    text-decoration: none;
    text-align: center;
    font-size: 0.7em;
}

ol, ul {
    list-style: none;
    padding-left: 0px;
}

svg {
    fill: var(--basefont);
}

fieldset {
    border: 0px;
}

.buttonininput {
    display: flex;
    align-items: center;
    position: relative;
}

.buttonininput input {
    width: 100%;
    padding-right: 35px;
}

.buttonininput a {
    position: absolute;
    right: 5px;
    top: 5px;
}

/* Görgetősáv */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--scrolltrack);
    border-radius: 100px;
    margin: 0 20px 0 20px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollthumb);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollthumbhover);
    border-radius: 100px;
}

/* Oldaltörzs alapbeállítások */
.PrintArea {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1em;
    background-color: var(--contentbg);
    /*justify-content: center;*/
    overflow: auto;
    box-shadow: 2px 2px 5px var(--shadow);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

.contentcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 20ch;
    /*max-width: 70ch;*/
}

.contentcenter input {
    width: 100%;
    text-align: left;
}

.contentcenter div {
    margin: 0 auto;
}

.contentcenterpadding div {
    padding: 1em 0 0 0;
}

.contentleft {
    display: flex;
}

.contentleft div {
    padding: 1em 0 0 0;
}

.twocolgrid {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.twocolgrid div {
    padding: 0.5em;
}

.twocolgrid3-1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1em;
    margin-top: 1em!important;
}

.gridleft div {
    justify-items: left;
    margin: unset!important;
}

.szerkeszt {
    display: grid;
    grid-template-columns: 1fr auto;
}

.help {
    cursor: pointer;
    padding-right: 0.5ch;
}

#magyarazat {
    display: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;
    padding: 0.5em;
    margin-left: 0.5em;
    background-color: var(--cardtitle);
    border-left: 2px solid;
    border-color: var(--midborder);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 300px;
}

#magyarazat p {
    font-size: 0.8em;
    padding-bottom: 0.5em;
}

#magyarazat h2 {
    padding-bottom: 0.5em;
}

.ketharmad, .doublecolumn {
    display: grid;
    grid-gap: 1em;
    margin: 10px;
    align-items: start;
    justify-content: center;
}

.ketharmad .submit button, .doublecolumn .submit button {
    max-width: 100%;
}

.doublecolumn h2 {
    margin-bottom: 1em;
}

.ketharmad {
    grid-template-columns: 2fr 1fr;
}

.doublecolumn {
    grid-template-columns: 1fr 1fr;
}

.ketharmad div, .doublecolumn div {
    padding: 0 0 1em 0;
}

.ketharmad input[type="submit"], .ketharmad input[type="text"], .ketharmad textarea, .ketharmad select,
.doublecolumn input[type="submit"], .doublecolumn input[type="text"], .doublecolumn textarea, .doublecolumn select,
.fullsizebutton {
    max-width: 100%;
    width: 100%;
}

.dyntripplecol {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) minmax(0px, max-content) minmax(max-content, 0.5fr);
    grid-gap: 1em;
}

.contentcards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 400px));
    grid-gap: 1em;
}

/* Információs doboz */
.infobox {
    max-width: max-content;
    max-height: 55vh;
    overflow: hidden;
    margin: 0 auto;
}

.infobox a {
    text-decoration: none;
    color:var(--link);
    font-weight: normal
}

.infoboxtitle {
    /*background-color: var(--cardtitle);*/
    background-color: var(--infoboxtitle);
    position: relative;
    display: flex;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.8em !important;
    border: 1px solid var(--infotitleborder);
    height: 2.7em;
}

.infoboxtitle img {
    margin-top: -3px;
}

.infoboxbody, .infoboxbodybp {
    background-color: var(--cardbase);
    font-size: 0.9em;
    margin: 0 auto auto auto !important;
    max-height: calc(55vh - 3.5em);
    overflow-y: auto;
    overflow-x: hidden;
    border-left: 1px solid var(--lightborder);
    border-bottom: 1px solid var(--lightborder);
    border-right: 1px solid var(--lightborder);
}

.infoboxbody {
    padding: 1em 1em 0 1em !important;
}

.infoboxbodybp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0em 0.5em 1em 0.5em !important;
}

.infoboxbodybp select {
    margin: 0.2em;
}

.infoboxbody::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.infoboxbody::-webkit-scrollbar-track {
    background-color: var(--scrolltrack);
    border-radius: 100px;
    margin: 20px 0 20px 0;
}

.infoboxbody::-webkit-scrollbar-thumb {
    background: var(--infoboxscrollthumb);
    border-radius: 100px;
}

.infoboxbody::-webkit-scrollbar-thumb:hover {
    background: var(--scrollthumbhover);
    border-radius: 100px;
}

.infoboxbodytwocol {
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: max-content minmax(min-content, max-content);
}

.infoboxbodytwocol div {
    padding: 0em 0.5em 0.6em 0.5em;
}

.infoboxbodytwocol div:nth-child(odd) {
    font-weight: bold;
}

.infobox thead {
    background-color: var(--infoboxthead);
}

.infobox table {
    max-width: unset;
}

.infoboxbody tr:nth-child(odd) {
    background-color: var(--infoboxsoro);
}

.infoboxbody tr:nth-child(even) {
    background-color: var(--infoboxsore);
}

.infoboxkepek {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 200px));
    padding: 0 !important;
}

.infoboxkepek img {
    max-width: 200px;
    max-height: 200px;
}

.modmessage {

}

.modmessagebody {
    padding-bottom: 0.7em !important;
    padding-top: 0.2em !important
}

.modmessagebody p {
    padding-top: 1em !important;
    font-size: 1.1em;
}

.fullheight {
    max-height: unset;
}

.clickimage a img:hover {
    cursor: pointer;
}

div[id^=kep-].enlarge {
    position: absolute;
    top: 50%;
    left: calc(50% + 150px);
    transform: translate(-50%, -50%);
    max-width: 80vw;
    max-height: 80vh;
    z-index: 99;
}

div[id^=kep-].enlarge img {
    max-width: 80%;;
    max-height: 80%;
}

div[id^=kep-].shrink img {
    max-width: 200px;
    max-height: 200px;
}

/* Felületek megjelenése */
/* Szerkesztő felület */
.szerkcard, .vizsgacard {
    border: 2px var(--midborder) solid;
    background-color: var(--cardbase);
    border-radius: 15px;
    padding: unset;
    /*overflow: hidden;*/
}

.szerkcardtitle {
    display: flex;
    border-radius: 13px 13px 0 0;
    background-color: var(--cardtitle);
    border-bottom: 1px var(--lightborder) solid;
    font-size: 1.3em;
    font-weight: bold;
    padding: 1em;
    position: relative;
    align-items: start;
    background-clip: border-box;
}

.szerkcardtitle div {
    margin: 0 0.3em 0 0;
}

.szerkcardoptions {
    display: flex;
    flex-direction: row;
    height: 3em;
    text-align: center;
    vertical-align: middle;
}

.szerkcardoptionelement {
    background-color: var(--cardoptions);
    font-size: 1em;
    padding-top: 0.5em;
    height: 2.2em;
    transition: 0.5s;
    border-bottom-right-radius: 0.7em;
}

.szerkcardoptionelement span {
    padding: 1em 1em 0.5em 0.5em;
    cursor: pointer;
    font-weight: bold;
}

.szerkcardoptionelement span::before {
    padding-right: 0.5em;
    border-left: 1px var(--basefont) solid;
    content: "";
}

.szerkcardoptionelement:hover {
    padding-top: 1em;
    height: 2.7em;
    transition: 0.5s;
}

.szerkcardbody {
    padding: 0.7em 2em 1.5em 2em;
}

.backforward {
    display: block;
    position: relative;
    font-size: 1.1em;
    height: 1.1em;
    margin: 0.5em 0!important;
}

.backforward div:nth-child(odd), .backforward div:nth-child(even) {
    position: absolute;
    padding: 0 0.5em;
    top: 0;
}

.backforward div:nth-child(odd) {
    left: 0;
}

.backforward div:nth-child(even) {
    right: 0;
}

.vizsgacard {
    width: 50vw;
}

.vizsgakerdesbody {
    padding: 0;
}

.vizsgakerdeskep img {
    max-width: 48vw;
    max-height: 500px;
    margin: 0 auto;
    padding: 0.2em 1em;
}

.vizsgakerdesszoveg {
    font-size: 1.4em;
    font-weight: bold;
    text-align: justify;
    padding: 0.5em 1em;
}

.vizsgavalaszlista {
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    text-align: left;
    align-items: start;
}

.vizsgavalaszlista div {
    margin: 0;
    padding: 0.5em 0;
}

.vizsgavalaszlista input {
    width: unset;
    margin: 0 0.5em 0 0;
    font-size: 1.2em;
}

.vizsgabottommessage {
    padding: 1.5em 0.5em 0.5em 0.5em;
    font-size: 1.1em;
}

.vizsgalablec {
    align-self: flex-end;
    display: block;
    margin: auto auto 0 auto;
    padding-top: 1em;
}

.vizsgalablec div {
    width: 80vw;
    margin: 0 auto;
}

#hatralevoido {
    background-color: var(--toasterbg);
    box-shadow: 0px 0px 10px 1px var(--shadow);
    padding: 0.3em 1em;
    color: var(--fontlight2);
    font-size: 2em;
    font-weight: bold;
    position: fixed;
    bottom: 2em;
    right: 2em;
}

#lejartido {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 600px;
    background-color: var(--toasterbg);
    opacity: 0.9;
    color: var(--fontlight2);
    text-align: center;
    border-radius: 2px;
    position: fixed;
    margin: auto;
    z-index: 1;
    left: calc(50% - 500px);
    bottom: calc(50% - 300px);
}
  
#lejartido.show {
    visibility: visible;
    -webkit-animation: lejartfadein 1s;
    animation: lejartfadein 1s;
}

  @-webkit-keyframes lejartfadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: calc(50% - 300px); opacity: 0.9;}
  }
  
  @keyframes lejartfadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: calc(50% - 300px); opacity: 0.9;}
  }

.talalat, .helyes {
    color: green;
}

.talalat {
    font-weight: bold;
}

.hibastipp {
    color: red;
}

.kerdesthreecol {
    display: grid;
    grid-template-columns: 40vw 150px 150px;
    grid-gap: 1em;
    padding: 1em;
}

.kerdesthreecol div {
    width: 100%;
    
}

.kerdesthreecol input[type="text"] {
    width: 100%;
    margin: 1em;
}

.cbcenter {
    margin: 30% 40%;
}

.menucard, .menucard-child, .apicard {
    padding: 0 !important;
    background-color: var(--cardbase);
    border: 1px var(--midborder) solid;
    border-radius: 0.5em;
    margin-bottom: 0.3em;
    overflow: hidden;
}

.menucard-child {
    margin-left: 2em;
}

.menucardtitle {
    position: relative;
    background-color: var(--cardtitle);
    border-bottom: 1px var(--midborder) solid;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em !important;
}

.menucardbody, .apicardbody {
    padding: 0.7em 1em 0.7em 1em !important;
}

.menuszerksor {
    display: inline-flex;
    padding-top: 0 !important;
    padding-bottom: 0.5em;
}

.menuszerksor div {
    padding-right: 0.5em;
}

.menucardbody input {
    width: max-content;
}

.menucardbody input, .menucardbody label, .menucardbody select {
    font-size: 0.8em;
}

/* Táblázat overlay */
.tablecard {
    display: block;
    height: 100%;
    background-color: var(--cardbase);
    padding-bottom: 25px;
    overflow: hidden;
}

.tablecardtitle {
    background-color: var(--cardtitle);
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.8em;
    border-bottom: 1px solid var(--lightborder);
}

.tablecardbody {
    margin-top: 15px;
    overflow-y: auto;
}

.tablecardbody table {
    /*width: calc(100% - 2em);*/
    margin: 1em;
}

/* Általános szövegmegjelenítés */
.szovegtartalom {
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;
    min-width: 40ch;
    max-width: 60vw;
    /*max-width: fit-content;*/
}

.szovegtartalom ul {
    list-style: disc;
    padding-left: 2ch;
}

/* ------------------------------- Beviteli elemek ------------------------------- */
button, .submit input, input[type="submit"] {
    max-width: max-content;
    font-family: "roboto";
    font-size: 1em;
    padding: 6px;
    cursor: pointer;
    color: var(--fontlight2);
    background-color: var(--button);
    border: 1px solid;
    border-radius: 0.25em;
    border-color: var(--buttonborder);
    transition: 0.3s;
    background-image: none;
}

button:hover, .submit input:hover, input[type="submit"]:hover {
    background-color: var(--buttonhover);
    /*box-shadow: 0px 0px 5px 1px #012c49;*/
}

select, input {
    /*width: 20ch;*/
    color: var(--basefont);
    border: 1px solid var(--lightborder);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1rem;
    cursor: auto;
    line-height: 1.1;
    background-color: var(--selectbg);
    /*background-image: linear-gradient(to top, var(--fontlight), var(--fontlight2) 33%);*/
}

textarea {
    width: 100%;
    height: 10ch;
    border: 1px solid var(--lightborder);
    font-family: "roboto";
    font-size: 1em;
    border-radius: 0.45em;
    padding: 0.25em 0.5em;
    line-height: 1.1;
    background-color: var(--selectbg);
    color: var(--basefont);
}

textarea:focus, input:focus, select:focus {
    outline: 1px solid var(--shadow);
}

.telinput, .delbuttoninput {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 0 !important;
}
  
.telprefix {
    position: absolute;
    z-index: 99;
    left: 0.5em;
    color: var(--greyfont);
}
  
.telinput input {
    flex-grow: 1;
}

.delbuttoninput button {
    font-variant: small-caps;
    font-size: 1.3em;
    position: absolute;
    right: 0;
    border-radius: 0 0.25em 0.25em 0;
    margin-bottom: 1px;
    padding: 0px 0.7em 1px 0.7em !important;
    border-left: 1px solid var(--addnewborder);
    border-top: 1px solid var(--lightborder);
    border-right: 1px solid var(--lightborder);
    border-bottom: 1px solid var(--lightborder);
}



/* A .tox a TinyMCE beviteli mezőjének wrapperje */
.tox {
    border-radius: 0.45em !important;
    padding: 0 !important;
}

.tox-promotion {
    display: none !important;
}

label {
    position: relative;
    font-size: 1.2em;
    font-weight: bold;
}

.largebutton {
    position: relative;
}

.largebutton button {
    margin-top: 1em;
    padding: 0.3em 0.8em;
    font-size: 1.2em;
}

#largebutton-popup {
    display: none;
    position: absolute;
    bottom: 2.28em;
    left: 0.4em;
    background-color: var(--buttonborder);
    padding-top: 0;
}

#largebutton-popup div {
    padding: 0;
    margin: 0;
}

#largebutton-popup.show {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
}

#largebutton-popup.hide {
    display: none;
}

#largebutton-popup button {
    margin: 0;
    font-size: 0.8em;
    border: 0;
    border-radius: 0;
    text-align: left;
    width: 100%;
    max-width: 100%;
}

.submit {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.submit button {
    width: 100%;
}

.checkbox {
    position: relative;
    text-align: left;
    padding-left: 0.3em;
    cursor: pointer;
    font-size: 1.5em;
    vertical-align: middle;
    padding-bottom: 0.5em;
}

.checkbox input {
    display: block;
    position: relative;
    min-width: 0;
    float: left;
    margin-right: 0.3em;
    width: 1.1em;
    height: 1.1em;
}

/* -- On-Off kapcsoló formokhoz -- */
/* A container div */
.kapcsolo {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* A checkbox elrejtése */
.kapcsolo input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* A csúszka rész */
.slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--checkswitchbg);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--checkswitchtrack);
    -webkit-transition: .4s;
    transition: .4s;
    /*box-shadow: 0px 0px 10px 4px var(--shadow);*/
}
  
input:checked + .slider {
    background-color: var(--checkswitch);
}
  
input:focus + .slider {
    outline: 1px solid var(--shadow);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* -- Világos - sötét kapcsoló -- */
.toggle {
    --width: 225px;
    --height: 100px;
    width: var(--width);
    height: var(--height);
    border-radius: 5000px;
    transform-origin: top left;
    transform: scale(0.5);
    overflow: hidden;
    transition: all .5s cubic-bezier(0.34, 1.3, 0.64, 1);
  }
  
.toggle.off {
    box-shadow: 0 0 3px black, inset 5px 5px 15px hsl(214, 100%, 20%);
    background-color: hsl(214, 45%, 50%);
}
  
.toggle.on {
    box-shadow: 0 0 3px black, inset 5px 5px 15px hsl(214, 100%, 0%);
    background-color: hsl(214, 50%, 15%);
}
  
.toggle::before {
    content: "✦";
    display: block;
    position: absolute;
    text-shadow:
      100px -15px 0px white,
      50px 15px 0px white,
      -5px 35px 0px white,
      80px 40px 0px white,
      10px 50px 0px white,
      0 0 transparent;
    left: 25px;
    top: 25px;
    font-size: 10px;
    color: white;
    transition: inherit;
}
  
.toggle.off::before {
    text-shadow:
      100px -30px 0px transparent,
      50px 30px 0px transparent,
      -5px 70px 0px transparent,
      80px 80px 0px transparent,
      10px 100px 0px transparent,
      0 0 transparent;
    transform: translate(-50px, 250px);
}
  
.toggle::after {
    content: "⨯";
    line-height: 225px;
    ;
    font-size: 8px;
    color: white;
    display: block;
    position: absolute;
    --pad: 10px;
    top: var(--pad);
    left: var(--pad);
    bottom: var(--pad);
    aspect-ratio: 1;
    border-radius: inherit;
    background-color: black;
    transition: inherit;
}
  
.toggle.off:after {
    text-shadow:
      -20px -5px 1px rgba(255, 255, 255, 0),
      -20px -5px 1px rgba(255, 255, 255, 0),
      -40px 120px 1px rgba(255, 255, 255, 0),
      -40px 120px 1px rgba(255, 255, 255, 0),
      -65px 70px 1px rgba(255, 255, 255, 0),
      -65px 70px 1px rgba(255, 255, 255, 0);
    background-color: hsl(47, 88%, 58%);
  
    --cloud-light: hsl(214, 45%, 80%);
    --cloud-thick: white;
    box-shadow:
      inset 3.5px 3.5px 2.5px hsla(47, 88%, 90%, 0.5),
      /* highlight */
      inset -3.5px -3.5px 2.5px hsla(27, 100%, 30%, 0.2),
      /* shadow */
  
      inset 15px 5.5px 0px 25px transparent,
      /* crater */
      inset 15px 5px 5px 25px transparent,
      /* crater */
  
      inset 30.5px -20.5px 0px 30px transparent,
      /* crater */
      inset 30px -20px 5px 30px transparent,
      /* crater */
  
      inset 40.5px 15.5px 0px 30px transparent,
      /* crater */
      inset 40px 15px 5px 30px transparent,
      /* crater */
  
      0 0 10px 0px hsl(47, 88%, 58%),
      /* glowy */
  
  
      -15px 50px 0 -25px var(--cloud-thick),
      /* cloud */
      10px 40px 0 -25px var(--cloud-thick),
      /* cloud */
      40px 50px 0 -15px var(--cloud-thick),
      /* cloud */
      65px 45px 0 -15px var(--cloud-thick),
      /* cloud */
      100px 55px 0 -15px var(--cloud-thick),
      /* cloud */
      135px 40px 0 -15px var(--cloud-thick),
      /* cloud */
      150px 15px 0 -25px var(--cloud-thick),
      /* cloud */
      175px 15px 0 -10px var(--cloud-thick),
      /* cloud */
      175px 30px 0 0px var(--cloud-thick),
      /* cloud */
  
  
      -15px 30px 0 -25px var(--cloud-light),
      /* cloud */
      10px 20px 0 -25px var(--cloud-light),
      /* cloud */
      40px 30px 0 -15px var(--cloud-light),
      /* cloud */
      60px 20px 0 -15px var(--cloud-light),
      /* cloud */
      90px 25px 0 -10px var(--cloud-light),
      /* cloud */
      130px 15px 0 -15px var(--cloud-light),
      /* cloud */
      150px -5px 0 -20px var(--cloud-light),
      /* cloud */
      175px -5px 0 -10px var(--cloud-light),
      /* cloud */
      0 0 0.5px 40px rgb(255 255 255 / .15),
      /* glow */
      0 0 0.5px 80px rgb(255 255 255 / .13),
      /* glow */
      0 0 0.5px 120px rgb(255 255 255 / .1),
      /* glow */
      0 0 0 transparent;
}
  
.toggle.on:after {  
    text-shadow:
      -0px -0px rgba(255, 255, 255, 0),
      -30px -40px 1px rgba(255, 255, 255, 1),
      -70px -45px rgba(255, 255, 255, 0.0),
      -50px -30px 1px rgba(255, 255, 255, 1),
      -95px -65px rgba(255, 255, 255, 0),
      -35px 20px 1px rgba(255, 255, 255, 9);
    background-color: hsl(47, 0%, 38%);
    transform: translateX(calc(var(--width) - var(--pad) * 2 - 100%)) rotate(45deg);
    --cloud-light: hsl(214, 0%, 80%);
    --cloud-thick: white;
    box-shadow:
      inset 3.5px 3.5px 2.5px hsla(47, 0%, 90%, 0.5),
      /* highlight */
      inset -3.5px -3.5px 2.5px hsla(27, 0%, 30%, 0.2),
      /* shadow */
  
      inset -15.5px 5.5px 0px 25px rgba(255 255 255 / .3),
      /* crater */
      inset -15px 5px 5px 25px rgba(0 0 0 / .1),
      /* crater */
  
      inset 5.5px -20.5px 0px 30px rgba(255 255 255 / .3),
      /* crater */
      inset 5px -20px 5px 30px rgba(0 0 0 / .1),
      /* crater */
  
      inset 15.5px 15.5px 0px 30px rgba(255 255 255 / .3),
      /* crater */
      inset 15px 15px 5px 30px rgba(0 0 0 / .1),
      /* crater */
  
      0 0 10px 0px hsl(47, 0%, 58%),
      /* glowy */
  
  
      -15px 115px 0 -25px var(--cloud-thick),
      /* cloud */
      10px 105px 0 -25px var(--cloud-thick),
      /* cloud */
      40px 115px 0 -15px var(--cloud-thick),
      /* cloud */
      65px 90px 0 -15px var(--cloud-thick),
      /* cloud */
      100px 100px 0 -15px var(--cloud-thick),
      /* cloud */
      135px 85px 0 -15px var(--cloud-thick),
      /* cloud */
      150px 60px 0 -25px var(--cloud-thick),
      /* cloud */
      175px 60px 0 -10px var(--cloud-thick),
      /* cloud */
      175px 30px 0 0px var(--cloud-thick),
      /* cloud */
  
  
      -15px 110px 0 -25px var(--cloud-light),
      /* cloud */
      10px 100px 0 -25px var(--cloud-light),
      /* cloud */
      40px 110px 0 -15px var(--cloud-light),
      /* cloud */
      60px 80px 0 -15px var(--cloud-light),
      /* cloud */
      100px 85px 0 -15px var(--cloud-light),
      /* cloud */
      130px 75px 0 -15px var(--cloud-light),
      /* cloud */
      150px 55px 0 -25px var(--cloud-light),
      /* cloud */
      175px 55px 0 -10px var(--cloud-light),
      /* cloud */
      0 0 0.5px 40px rgb(255 255 255 / .15),
      /* glow */
      0 0 0.5px 80px rgb(255 255 255 / .13),
      /* glow */
      0 0 0.5px 120px rgb(255 255 255 / .1),
      /* glow */
      0 0 0 transparent;
}


/* -- Egyedi select -- */
.custom-select {
    position: relative;
    /*font-family: Arial;*/
}
  
.custom-select select {
    display: none; /*hide original SELECT element:*/
}
  
.select-selected {
    background-color: var(--selectbg);
    border: 1px solid var(--lightborder);
    border-radius: 0.25em;
    padding: 0.37em 2em 0.37em 0.5em;
    min-width: max-content;
    cursor: pointer;
    user-select: none;
    line-height: 1.1;
    
}

.select-selected.transpinput {
    background-color: transparent;
}
  
/* A select elem nyilának megjelenése */
.select-selected:after {
    position: absolute;
    content: "";
    top: 12px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--basefont) transparent transparent transparent;
    z-index: 0;
}
  
/* A nyíl felfelé irányítása ha a menü nyitva */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--basefont) transparent;
    top: 6px;
}

/* Az elemek stílusának meghatározása, beleértve a kiválasztott elemet is */
.select-items div {
    color: var(--basefont);
    padding: 0.5em 1em;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}
  
/* Az elemek container-e */
.select-items {
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, max-content));
    min-width: 10ch;
/*    max-width: 500px;*/
    min-height: 1em;
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    background-color: var(--selectbg);
    bottom: 2em;
    right: 0;
    z-index: 99;
    scrollbar-width: thin;
}
  
/* Az elemek elrejtése, mikor a select be van zárva */
.select-hide {
    display: none;
}
  
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/* EGYEDI CHECKBOX */
.customcb {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default checkbox */
.customcb input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.customcbjelolo {
    position: absolute;
    top: 0;
    right: 0em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 25%;
    border: 4px solid var(--cbchecked);
}

.tablejelolo {
    top: -0.75em;
}
  
/* On mouse-over, add a grey background color */
.customcb:hover input ~ .customcbjelolo {
    
}
  
/* When the checkbox is checked, add a blue background */
.customcb input:checked ~ .customcbjelolo {
    background-color: var(--cbchecked);
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.customcbjelolo:after {
    content: "";
    position: absolute;
    display: none;
}
 
/* Show the checkmark when checked */
.customcb input:checked ~ .customcbjelolo:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.customcbjelolo:after {
    left: 0.2em;
    top: -0.1em;
    width: 0.6em;
    height: 1em;
    border: solid var(--fontlight);
    border-width: 0 6px 6px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 3px 3px 3px var(--shadow);
}

/* ------------------------------- Táblázatok ------------------------------- */
/* Táblázat alapbeállítások */
table {
    font-family: "roboto", "bench";
    font-size: 0.9em;
    display: table;
    table-layout: fixed;
    border: 0px;
    border-collapse: collapse;
    width: auto;
    max-width: fit-content;
}

thead {
    background-color: var(--thead);
    font-size: 1.1em;
    font-weight: bold;
}

thead, tbody {
    width: 100%;
}

thead tr:nth-child(1) {background: none !important }

td, th {
    border: 0px;
    padding: 0.4em 0.3em 0.4em 0.3em;
    text-align: left;
}

tr:nth-child(even) {
    background-color: var(--tsore)
}

tr:nth-child(odd) {
    background-color: var(--tsoro)
}

tr a, td a, th a {
    text-decoration: none;
}

td img {
    max-width: initial;
}

.telefonkonyvtabla {
    width: 100%;
    max-width: 100%;
}

.telefonkonyvelvalaszto {
    font-size: 1.2em;
    font-weight: bold;
}

/* Speciális táblázatok */
.tsorth {
    cursor: pointer;
    font-size: 1.2em;
}

.tsorth input {
    width: 100%;
    font-size: 0.7em;
    display: block;
    padding: 5px;
    margin-bottom: 5px;
}

.kattinthatotr {
    cursor:pointer;
    font-weight: bold;
}

.transpinput select, .transpinput input[type="text"] {
    background: none;
}

.transpinput select option {
    background-color: var(--selectbg);
}

.smallinput select, .smallinput input[type="text"] {
    font-size: 0.8em;
}

.online {
    color: var(--online);
    font-weight: bold;
}

.offline {
    color: var(--offline);
}

.warning {
    color: var(--warning);
}

/* ------------------------------- Egyszerű igazításhoz használt típusok ------------------------------- */
.left {
    float: left;
    text-align: left;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

.right {
    float: right;
    text-align: right;
}

.nullp {
    padding: 0 !important;
    margin: 0 !important;
}

/* ------------------------------- Fejléc ------------------------------- */
.topmenubase {
    display: grid;
    grid-template-columns: 200px  minmax(min-content, 350px) max-content minmax(0px, 1fr) max-content;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: var(--topbase);
    background-image: linear-gradient(to bottom right, var(--topbase), var(--topbase2nd));
    border-bottom: 1px solid var(--topborder);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 0px 5px 10px 0px var(--shadow);
}

.topmenuikonok {
    display: inline-flex;
    align-items: center;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: right;
    margin-right: 5px;
}

.topmenuikonok a {
    display: block;
    text-decoration: none;
    font-family: "inter","Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 1.2rem;
}

.topmenuikonok img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s;
}

.topmenuikonok img:hover {
    filter: brightness(40%);
    transition: 0.5s;
}

.headlogo {
    /*display: inline-flex;
    align-items: center;
    justify-content: center;*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.kereses, .topmenuszoveges {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    grid-row-start: 1;
    grid-row-end: 2;
}

.kereses {
    grid-column-start: 2;
    grid-column-end: 3;
}

.felkormezo {
    position: relative;
    align-items: center;
    overflow: hidden;
    background-color: var(--cardbase);
    border: 1px solid var(--toasterbg);
    border-radius: 40px;
    box-shadow: inset 0 1px 2px var(--shadow);
    color: var(--fontlight2);
    padding: 0 0 0 1em;
    height: 2.2em;
    margin-left: 0.5em;
    display: flex;
    flex-direction: row;
}

.felkormezo input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    font-size: 1.1em;
}

.felkormezo input:focus {
    outline: none;
}

.felkormezo input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--cardbase) inset;
    -webkit-text-fill-color: var(--fontlight2);
}

.felkormezo button {
    background-color: var(--thead);
    border: none;
    border-left: 1px solid var(--toasterbg);
    border-radius: 0 40px 40px 0;
    color: var(--fontlight2);
    font-size: 1.2em;
    cursor: pointer;
}

.felkormezo svg {
    pointer-events: none;
    display: block;
    width: 1.2em;
    height: 1.2em;
    margin: 0 0.3em 0 0.3em;
    fill: var(--basefont);
}

.topmenuszoveges {
    grid-column-start: 3;
    grid-column-end: 4;
}

.topmenuarea {
    font-family: "inter","Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    text-transform: capitalize;
}

.topmenuarea a {
    text-decoration: none;
}

.topmenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row!important;
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.topmenuitem, .topmenuitem-active {
    display: inline-block;
}

.topmenuitem a, .topmenuitem-active a {
    padding: 15px 10px;
}

.topmenuitem-active, .topmenuitem-active a {
    color: var(--link);
    background-color: var(--menuhover);
} 

.topmenuitem a:hover {
    color: var(--linkhover);
    background-color: var(--menuhover);
}

/* Fejléc lenyíló elemei */
#profilpopup, #notifpopup, #korabbikorok, #megvalaszoltkerdesek {
    background-color: var(--headpopupbg);
    box-shadow: -3px 3px 5px var(--shadow);
    visibility: hidden;
    font-family: "inter","Source Sans Pro",Helvetica,Arial,sans-serif;
    color: var(--fontlight);
    border-radius: 5px;
    position: absolute;
    z-index: 99;
    top: 50px;
}

#profilpopup, #notifpopup, #korabbikorok {
    display: flex;
    flex-direction: column;
}

#profilpopup {
    text-align: right;
    right: 0px;
}

#notifpopup {
    right: 45px;
    width: 410px;
    max-height: 500px;
    overflow-y: overlay;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

#notifpopup::-webkit-scrollbar {
    width: 10px;
}

#notifpopup::-webkit-scrollbar-track {
    background: var(--notifpopscrolltrack);
    border-radius: 100px;
    margin: 20px 0 20px 0;
}

#notifpopup::-webkit-scrollbar-thumb {
    background: var(--notifpopscrollthumb);
    border-radius: 100px;
}

#notifpopup::-webkit-scrollbar-thumb:hover {
    background: var(--menu);
    border-radius: 100px;
}

#profilpopup a, #korabbikorok a, #megvalaszoltkerdesek a {
    padding: 12px 20px 12px 20px;
    background-color: var(--headpopupbg);
    text-decoration: none;
    color: var(--fontlight);
    font-variant: small-caps;
    font-size: 1.2rem;
}

#notifpopup a {
    display: block;
    margin: 10px;
    padding: 5px 5px 15px 5px;
    min-height: 100px;
    max-height: fit-content;
    width: 380px;
    text-decoration: none;
    color: var(--fontlight);
    font-size: 0.8rem;
}

#notifpopup a:hover {
    display: block;
    background-color: var(--menuhover);
    border-radius: 10px;
}

#notifpopup :hover {
    color: var(--fontlight);
}

#profilpopup a:hover, #korabbikorok a:hover, #megvalaszoltkerdesek a:hover {
    color: var(--linkhover);
    background-color: var(--menuhover);
}

#profilpopup.show, #notifpopup.show, #korabbikorok.show, #megvalaszoltkerdesek.show {
    visibility: visible;
}

#korabbikorok {
    top: unset;
    width: max-content;
}

#notifications {
    position: relative;
}

#notifcount {
    position: absolute;
    padding-top: 3px;
    right: 0;
    top: 22px;
    width: 20px;
    height: 20px;
    z-index: 99;
    border-radius: 50%;
    opacity: 0.8;
    background-color: var(--notifcount);
    color: var(--fontlight2);
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
}

.notifitem-latta {
    display: block;
    color: var(--notifseen);
}

.notifitem {
    display: block;
}

.notiftitle {
    font-size: 1rem;
}

.notiftime {
    text-align: right;
    font-size: 0.5rem;
}

#seenallnotif {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
}

#seenallnotif p {
    cursor: pointer;
    width: fit-content;
    margin: auto;
}

#seenallnotif p:hover {
    color: var(--linkhover);
}

.contextheader {
    position: relative;
    height: 250px;
    overflow: hidden;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.contextheader img {
    position: absolute;
    top: 150px;
    bottom: 0;
    margin: auto;
}

/* ------------------------------- Lábléc ------------------------------- */
.bottom-line, .bottom-line a {
    height: 30px;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    color: var(--fontlight);
    background-color: var(--footerbg);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

/* ------------------------------- Főmenü ------------------------------- */
.leftmenuareabase {
    background-color: var(--menu);
    width: 200px;
    font-family: "inter","Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-variant: small-caps;
    border-right: 1px solid var(--topborder);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
}

.leftmenuarea {
    width: 200px;
    left: 0;
    right: 0;
    position: absolute;
    padding-bottom: 0;
}

.leftmenu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column!important;
    padding-left: 0;
    list-style: none;
    border-right: 1px solid var(--topborder);
}

.leftmenuitem, .leftmenuitem a, .leftmenuitem-active, .leftmenuitem-active a {
    width: 100%;
    flex-wrap: wrap;
    list-style: none;
    color: var(--fontlight);
    text-decoration: none;
    border-radius: 0;
    display: inline-block;
}

.leftmenuitem {
    background-color: var(--menu);
}

.leftmenuitem, .leftmenuitem-active, .leftmenusubitem, .leftmenusub-active {
    position: relative;
}

 .leftmenuitem a:hover, .leftmenuitem a, .leftmenuitem-active a {
    padding: 12px 0px 12px 0px;
}

.leftmenuitem a, .leftmenuitem-active a, .leftmenuitem a:hover {
    padding-left: 25px;
}

.leftmenuitem-active, .leftmenuitem-active a{
    color: var(--link);
    background-color: var(--menuhover);
} 

.leftmenuitem a:hover {
    color: var(--linkhover);
    background-color: var(--menuhover);
}

.leftmenu-sub {
    background-color: var(--submenu) !important;
}

.leftmenu-subtop {
    height: 8px;
    background-image: linear-gradient(var(--shadow), var(--submenu));
}

.leftmenu-sub a:hover {
    padding: 6px 0 6px 0 !important;
}

.leftmenusubitem, .leftmenusubitem a, .leftmenusub-active, .leftmenusub-active a {
    width: 100%;
    flex-wrap: wrap;
    list-style: none;
    color: var(--fontlight);
    text-decoration: none;
    border-radius: 0;
    display: block;
}

.leftmenusubitem a, .leftmenusubitem a:hover, .leftmenusub-active a, .leftmenusub-active a:hover {
    padding: 12px 0px 12px 25px !important;
}

.leftmenusubitem a:hover, .leftmenusub-active a:hover {
    color: var(--linkhover);
    background-color: var(--submenuhover);
}

.leftmenusub-active, .leftmenusub-active a {
    color: var(--link);
    background-color: var(--submenuhover);
}

.addnew {
    position: absolute;
    padding: 7px 5px;
    margin: 5px 0;
    right: 0;
    top: 0;
    border-left: 1px solid var(--addnewborder);
}

/* ------------------------------- Breadcumbok ------------------------------- */
#backtotop {
    position: fixed;
    right: 2em;
    bottom: -4em;
    cursor: pointer;
}

#backtotop.show {
    bottom: 2em;
    -webkit-animation: swimup 0.5s;
    animation: swimup 0.5s;
}

#backtotop.hide {
    bottom: -4em;
    -webkit-animation: swimdown 0.5s;
    animation: swimdown 0.5s;
}

@keyframes swimup {
    from {bottom: -4em; opacity: 0;}
    to {bottom: 2em; opacity: 1;}
}

@-webkit-keyframes swimup {
    from {bottom: -4em; opacity: 0;}
    to {bottom: 2em; opacity: 1;}
}

@keyframes swimdown {
    from {bottom: 2em; opacity: 0;}
    to {bottom: -4em; opacity: 1;}
}

@-webkit-keyframes swimdown {
    from {bottom: 2em; opacity: 0;}
    to {bottom: -4em; opacity: 1;}
}

/* ------------------------------- Breadcumbok ------------------------------- */
.breadcumblist {
    float: left;
    padding: 0px 0px 15px 0px;
    font-size: small;
}

.breadcumblist ol {
    margin: 0;
    padding: 0;
}

.breadcumblist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.breadcumblist li {
    float: left;
    padding: 0px 5px;
}
  
.breadcumblist li a {
    display: block;
    color: var(--basefont);
    text-align: center;
    text-decoration: none;
}

/* ------------------------------- Tartalmi elemek ------------------------------- */
/* Oldal cím */
.oldalcim {
    position: relative;
    display: flex;
    height: 1.6em;
    font-size: 1.5em;
    font-weight: bold;
    padding: 3px 3px 3px 6px;
    background: var(--tsoro);
    margin: 5px 0px 10px 0px;
    box-shadow: 2px 2px 5px var(--shadow);
}

.oldalcim p {
    margin: 0;
}

.oldalcim button {
    padding: 0;
    border: #000000 0px;
    background-color: transparent;
}

.buttondropdown {
    margin-left: 1em;
    position: relative;
}

.buttondropdown div {
    position: absolute;
    top: 1.6em;
}

#megvalaszoltkerdesek {
    left: 0;
    display: grid;
    grid-template-columns: repeat(3, max-content);
}

#megvalaszoltkerdesek div {
    position: unset;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

#megvalaszoltkerdesek a {
    padding: 10px 20px 10px 20px;
}

/* Szerkesztő gombok */
.szerkgombsor {
    display: inline-flex;
}

.szerkgombsor button {
    margin: 0.5em 0.5em 0.5em 0;
}

/* Lenyílók a címben */
.szuresvalaszto, .help {
    position: absolute;
    right: 6px;
    text-align: right;
}

.szuresvalaszto {
    top: 3px;
}

/* Közlemények */
.kozlemenyek {
    margin: 0 auto;
}

.kozlemenyfej, .kozlemenyfej a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
}

.kozlemenyside {
    font-size: 0.8em;
}

.kozlemenyside .kozlemenyfej {
    font-size: 0.7em;
}

.elvalaszto {
    margin: 5px 40px 0px 40px;
    height: 3px;
    border-top: 1px solid var(--midborder);
    position: relative;
}

/* ------------------------------- Speciális oldalak ------------------------------- */
/* -- Tennivalók -- */
.tennivalokwrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, 40em);
    grid-gap: 1em;
}

.tennivaloformwrap {
    grid-column-start: 1;
    grid-column-end: 3;
}

.tennivaloform {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    background-color: var(--cardbase);
    border-radius: 1.5em;
    width: 80%;
    margin: 0 auto;
    padding: 1em;
}

div[id^=tennivalo-] {
    display: grid;
    grid-template-columns: minmax(0.6em, 2.6em) 1fr 2.5em;
    grid-template-rows: minmax(0, 1fr) minmax(0, max-content);
    background-color: var(--cardbase);
    width: 40em;
    border-radius: 1.5em;
    padding: 0;
    overflow: hidden;
    height: max-content;
}

div[id^=prioritas-] {
    margin: 1.1em 0 1.1em 2em;
    width: 0.6em;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    border-left: 0.7em solid;
    border-radius: 0.3em;
    box-shadow: 3px 3px 3px var(--shadow);
}

div[id^=prioritas-].open {
    margin: 0;
    transition: margin 1s;
}

div[id^=prioritas-].close {
    margin: 1.3em 0 1.3em 2em;
    transition: margin 1s;
}

.tennivalotitle {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 1.2em;
    font-weight: bold;
    word-wrap: break-word;
    padding: 1em 2em 1em 0;
}

.tennivalotitle, div[id^=tennivalobody-] {
    padding-left: 1em;
}

.tennivalofelhasznalo {
    font-weight: bold;
    padding-top: 1em;
}

.tennivaloido {
    font-size: 0.8em;
    font-style: italic;
    padding-top: 0.4em;
    padding-bottom: 0.5em;
}

.openclosewrapper {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    padding-top: 1.2em;
    padding-left: 0.3em;
}

div[id^=tennivaloopenclose-] {
    border: solid var(--basefont);
    border-width: 0 5px 5px 0;
    width: 1em;
    height: 1em;
    transform: rotate(45deg);
    cursor: pointer;
}

div[id^=tennivaloopenclose-].open {
    transform: rotate(225deg);
    animation: opentodo 0.5s linear;
}

div[id^=tennivaloopenclose-].close {
    transform: rotate(45deg);
    animation: closetodo 0.5s linear;
}

@keyframes opentodo {
    0% { transform: rotate(45deg); }
    100% { transform: rotate(225deg); }
}

@keyframes closetodo {
    0% { transform: rotate(225deg); }
    100% { transform: rotate(45deg); }
}

div[id^=tennivalobody-] {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    max-height: 0em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

div[id^=tennivalobody-].open {
    max-height: 600px;
    overflow: hidden;
    transition: max-height 2s;
}

div[id^=tennivalobody-].close {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
}

@keyframes enlarge {
    0% { transform: height 0.2s ease-out }
    100% { transform: rotate(225deg); }
}

.tennivalocbdiv {
    font-size: 0.7em;
}

/* A tennivalók checkboxa */
.tennivalokjelolo {
    top: 0;
    right: -1.8em;
}

.tennivalokjelolo:after {
    left: 0.2em;
    top: -0.1em;
}

/* -- Csoportok -- */
.csoportokwrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25em);
    grid-gap: 1em;
}

.csoport {
    max-width: unset;
    max-height: unset;
    width: 25em;
}

.csoportbody {
    padding-bottom: 1em !important;
    max-height: unset;
}

.csoportbody div {
    margin: 0.4em 0;
}

.csoportbody div a {
    color: var(--basefont);
}

.csoportlink a {
    color: var(--link) !important;
}

/* --- Aktív eszköz --- */
.reszhibas, .mukodeskeptelen {
    font-style: italic;
    color: var(--hibas);
}

.reszhibas.offline {
    color: var(--hibasoffline);
}

.mukodeskeptelen {
    text-decoration: line-through;
}

.kiepitett {
    font-weight: normal;
}

/* --- Telefonszám <-> épületport párosítás --- */
.portparositas {
    display: grid;
    grid-template-columns: repeat(auto-fill, 15em);
    grid-gap: 1em;
}

/* --- Emeletek listája --- */
.szintlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 23em));
    grid-gap: 2em;
}

.szintlist div, .szintlist table {
    width: 100%;
}

/* --- Végpontok, transzport portok listája --- */

.vegpontlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, 12em);
    grid-gap: 0.5em;
}

.transzportlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, 15em);
    grid-gap: 0.5em;
}

.vegpontlist a, .transzportlist a {
    text-decoration: none;
}

.vegpont, .transzport {
    padding: 0.5em;
    background-color: var(--cardbase);
    border: 1px solid var(--infotitleborder);
    overflow: auto;
}

.vegpont {
    display: grid;
    grid-template-columns: max-content minmax(0, max-content);
    grid-gap: 0.8em;
}

.transzport div {
    margin-top: 0.4em;
}

.fizikairetegtip {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border-left: 15px solid;
    border-top: 15px solid;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.rez {
    border-top-color: #413232;
    border-left-color: #413232;
}

.multi {
    border-top-color: #cc7400;
    border-left-color: #cc7400;
}

.single {
    border-top-color: #e1bc00;
    border-left-color: #e1bc00;
}

.foglalt {
    font-weight: bold;
}

.ures {
    font-weight: normal;
    color: var(--hibas);
}

#hibajegyek {
    max-width: unset;
}

.hibajegyallapotupdate {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hibajegyallapotupdate div {
    padding: 0.5em;
}

.pickpriority {
    position: relative;
    display: block;
    margin-right: 1em;
}

.pickpriority a {
    cursor: pointer;
}

#prioritas {
    background-color: var(--menu);
    box-shadow: 2px 5px 5px var(--shadow);
    position: absolute;
    visibility: hidden;
    top: 1.85em;
}

#prioritas a {
    color: var(--basefont);
    display: block;
    padding: 0.4em 1em 0.4em 1em;
}

#prioritas a:hover {
    color: var(--linkhover);
    background-color: var(--menuhover);
}

#prioritas.show {
    visibility: visible;
}

.prioritas th, .prioritas td {
    width: 10px;
}

.kesz {
    background-color: var(--toasterbg);
}

.alacsony {
    background-color: var(--alacsony);
}

.halaszthato {
    background-color: var(--halaszthato);
}

.fontos {
    background-color: var(--important);
}

.surgos {
    background-color: var(--urgent);
}

.kritikus {
    background-color: var(--warning);
}

.alacsony-font, .alacsony-font a {
    color: var(--alacsony);
}

.halaszthato-font, .halaszthato-font a {
    color: var(--halaszthato);
}

.fontos-font, .fontos-font a {
    color: var(--important);
}

.surgos-font, .surgos-font a {
    color: var(--urgent);
}

.kritikus-font, .kritikus-font a {
    color: var(--warning);
}

.felelos {
    display: inline-flex;
    justify-content: flex-end;
}

.bejelento {
    display: inline-flex;
    justify-content: flex-start;
    text-align: right;
}

.allapotvaltozas {
    width: 50%;
    margin: 0.3em;
    padding: 0.5em;
}

.allapotvaltozasfej {
    font-size: 1.5em;
    font-variant: small-caps;
    font-weight: bold;
}

.allapotvaltozasbody {
    padding: 0.3em 1em;
}

.allapotvaltozasmeta {
    padding: 0 1em;
    font-size: 0.7em;
}

/* ------------------------------- Overlayek ------------------------------- */
/* Egészképernyős átfedés */
.atfedes, .formkuldatfedes {
    display: none;
    position: fixed;
    padding-top: 100px;
    text-align: center;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.atfedes-content {
    background-color: var(--submenuhover);
    margin: auto;
    padding: 15px 15px 10px 15px;
    border: 1px solid var(--midborder);
    width: 40em;
}
  
.closeol {
    color: var(--overlayclose);
    float: right;
    margin-top: -15px;
    font-size: 28px;
    font-weight: bold;
}
  
.closeol:hover, .closeol:focus {
    color: var(--basefont);
    text-decoration: none;
    cursor: pointer;
}

.formkuldmessage {
    padding-top: 200px;
    color: var(--fontlight2);
    font-size: 1em;
    font-weight: bold;
}

.loader {
    display: inline-block;
    margin-top: 10px;
    border: 10px solid var(--fontlight2);
    border-radius: 50%;
    border-top: 10px solid var(--loadercolor);
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* Toaster üzenet */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: var(--toasterbg);
    color: var(--fontlight2);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}
  
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

/* Tooltip */
.ttipcontainer {
    -webkit-user-select: none;
    position: relative;
}

.tooltip {
    position: absolute;
    top: -80%;
    left: 50%;
    margin-left: -80px;
    width: 300px;
    background-color: var(--toasterbg);
    color: var(--fontlight);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0 !important;
    visibility: hidden;
}

.tooltip::before {
    content: "";
    border-width: 20px;
    border-style: solid;
    top: 15%;
    left: -40px;
    border-color: transparent var(--toasterbg) transparent transparent;
    position: absolute;
}

.show {
    visibility: visible;
}

/* Beúszó menü */
#slidein-1, #slidein-2, #slidein-3, #slidein-4, #slidein-5, #slidein-6 {
    visibility: hidden;
    background-color: var(--cardbase);
    z-index: 1;
    width: 500px;
    top: 8em;
    right: -500px;
    position: absolute;
    margin: auto;
    border-radius: 1em;
}

#slidein-1.show, #slidein-2.show, #slidein-3.show, #slidein-4.show, #slidein-5.show, #slidein-6.show {
    visibility: visible;
    top: 8em;
    right: 0;
    animation: 1s ease-in-out 0s 1 slideIn;
}

#slidein-1.hide, #slidein-2.hide, #slidein-3.hide, #slidein-4.hide, #slidein-5.hide, #slidein-6.hide {
    visibility: visible;
    animation: 1s ease-in-out 0s 1 slideOut;
}
  
  @keyframes slideIn {
    from {right: -500px}
    to {right: 0}
  }

  @keyframes slideOut {
    from {right: 0}
    to {right: -500px}
  }

/* Felúszó menü */
#slideup-1, #slideup-2, #slideup-3, #slideup-4 {
    box-shadow: 0px -2px 5px var(--shadow);
    visibility: hidden;
    width: calc(100% - 260px);
    z-index: 1;
    left: 230px;
    bottom: -310px;
    max-height: 300px;
    position: fixed;
}

#slideup-1.show, #slideup-2.show, #slideup-3.show, #slideup-4.show {
    visibility: visible;
    bottom: -5px;
    left: 230px;
    animation: 1s ease-in-out 0s 1 slideUp;
}

#slideup-1.hide, #slideup-2.hide, #slideup-3.hide, #slideup-4.hide {
    visibility: visible;
    animation: 1.5s ease-in-out 0s 1 slideDown;
}
  
  @keyframes slideUp {
    from {bottom: -310px}
    to {bottom: -5px}
  }

  @keyframes slideDown {
    from {bottom: -5px}
    to {bottom: -310px}
  }

/* Üzenetek */
.uzenetek {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    max-width: fit-content;
}

.uzenet {
    padding: 10px 0px 5px 20px;
}

.uzenet p {
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.uzenet label {
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 0px;
}

.uzenetkomment {
    display: block;
    padding: 0px;
    margin-left: 10px;
    width: 70%;
}

.uzenetujkomment {
    display: grid;
    justify-content: right !important;
}

.uzenetujkomment div {
    padding: 0px 0px 0px 0px !important;
}

.komment {
    border-radius: 1em 2em;
    background-color: var(--commentbg);
    padding: 0px 10px 0px 10px;
}

/* ------------------------------- Nyomtatási kép ------------------------------- */
@media print {
    body {
        background-color: #FFF !important;
    }

    body * {
        visibility: hidden;
    }

    .szerkgombsor * {
        display: none;
    }

    .topmenuikonok * {
        display: none;
    }

    *:before, *:after {
        display: none;
    }

    .PrintArea, .PrintArea * {
       visibility: visible;
    }

    .PrintArea {
        color: #0b0b0b !important;
        background: white !important;
        position: absolute;
        left: 0;
        top: 0;
    }

    .select-selected {
        color: #0b0b0b !important;
        font-size: 0.7em;
        border: 0px;
    }

    .oldalcim {
        background-color: #aaaaaa !important;
    }

    .dontprint, .dontprint td, .dontprint th, .szuresvalaszto {
        visibility: hidden !important;
        display: none;
    }

    th {
        color-adjust: exact;
        background-color: #888 !important;
    }

    tr, td {
        padding: 0 !important;
    }

    tr:nth-child(odd) {
        background-color: #ccc !important;
        color-adjust: exact;
    }

    tr:nth-child(even) {
        background-color: #ddd !important;
        color-adjust: exact;
    }

    .nostripes tr:nth-child(odd) {
        background-color: #FFF !important;
        color-adjust: exact;
    }

    .nostripes tr:nth-child(even) {
        background-color: #FFF !important;
        color-adjust: exact;
    }

    input, select {
        font-size: 0.6rem !important;
        border: none !important;
        color: #0b0b0b !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        padding: 0;
    }

    .portnev th, .portnev td, .portnev input {
        width: 25ch !important;
    }

    .offline {
        background-color: transparent !important;
    }

    @page {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 72px;
        padding-bottom: 72px;
    }

    @page :header {
        display: none;
    }

    @page :footer {
        display: none;
    }
}

/* ------------------------------- Internet Explorer kompatibilitás ------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .body {
        margin: 0;
        display: -ms-grid;
        -ms-grid-columns: 200px 1fr 1fr;
        -ms-grid-rows: 50px 1fr 200px 30px;
    }

    /* Explicit placement for IE */
    /* Omitting default value of -ms-grid-column: 1 and -ms-grid-row: 1 where possible */
    .content {
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        -ms-grid-column: 2;
        -ms-grid-column-span: 3;
        margin-left: auto;
        margin-right: auto;
        min-height: 700px;
    }

    .topmenubase {
        -ms-grid-row: 1;
        -ms-grid-column-span: 3;
    }

    .topmenuikonok {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
        position: absolute;
        right: 0px;
        top: 5px;
    }

    #profilpopup {
        top: 45px!important;
    }

    .kereses {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .leftmenuareabase {
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
    }

    .footer {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
    }

    .bottom-line {
        -ms-grid-row: 4;
        -ms-grid-column-span: 4;
    }
}