@font-face {
    font-family: "sansation";
    src: url("./includes/Sansation_Regular.ttf") format('truetype');
}

@font-face {
    font-family: "sansation-eot";
    src: url("./includes/Sansation_Regular.eot") format('eot');
}

@font-face {
    font-family: "inter";
    src: url("./includes/Inter-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "bench";
    src: url("./includes/BenchNine-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "roboto";
    src: url("./includes/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "oswald";
    src: url("./includes/Oswald-Regular.ttf") format('truetype');
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    margin-top: 0em;
    margin-bottom: 0.5em;
}

/* Grid */

.wrapper {
    display: grid;
    justify-content: center;
    background-image: url('./images/backg.png');
}

@media (max-width: 600px) {
    .wrapper {
        grid-template-columns:  minmax(0px, 1fr) minmax(450px, 100%) minmax(0px, 1fr);
        margin: 0px;
    }

    .menubar, .content, .footer, .footerinside {
        margin: 0px;
    }

    .body {
        background-image: linear-gradient(to right, #085224, #003366);
    }

    .content {
        overflow: scroll;
    }
}

@media (min-width: 600px) {
    .wrapper {
        grid-template-columns: minmax(50px, 200px) 1fr;
        grid-template-rows: 50px minmax(500px, 1fr) minmax(0px, 200px) 30px;
        min-height: 100vh;
        margin: 0px;
    }

    .body {
        background-image: url("./images/bg.jpg");
    }

    .menubar {
        margin: 0px 10px 0px 10px;
    }

    .content {
        /*margin-top: 0.5em;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;*/
        box-shadow: 2px 2px 5px dimgrey;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        /*min-width: max-content;*/
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .wrapper {
        margin: 0;
    }

    .content {
        margin-left: auto;
        margin-right: auto;
        width: 800px;
    }
}

body {
    margin: 0px;
    margin-top: 0px;
    display: block;
    font-family: "sansation", "sansation-eot";
    background-image: linear-gradient(to right, #085224, #003366);
}

ol, ul {
    list-style: none;
    padding-left: 0px;
}

.header {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.menubar {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: linear-gradient(#333, #000);
}

.menu {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0px 10px 0px 10px;
    background-image: linear-gradient(#333, #000);
}

.content {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 1em;
    background-color: #ededed;
    /*justify-content: center;*/
    overflow: auto;
}

.footer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url('./images/footer.jpg');
    height: 200px;
}

/* Alapbeállítások */

.contentcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    min-width: 20ch;
    max-width: 70ch;
}

.szovegtartalom {
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;
    min-width: 40ch;
    max-width: 600px;
    max-width: fit-content;
}

.contentcenter div, .column div {
    padding: 1em 0 0 0;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.column label {
    float: left;
}

.doublecolumn {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 600px;
    grid-gap: 1em;
    margin: 10px;
    align-items: start;
    justify-content: center;
}

.szovegdoboz {
    width: 100%;
}

table {
    font-family: "roboto", "bench";
    font-size: 0.9em;
    display: block;
    border: 0px;
    border-collapse: collapse;
}

tr, td, th {
    border: 0px;
    padding: 0.4em 0.3em 0.4em 0.3em;
    text-align: left;
}

.tsorth {
    cursor: pointer;
    font-size: 1.2em;
}

td img {
    max-width: initial;
}

tr a, td a, th a {
    text-decoration: none;
}

.kattinthatotr {
    cursor:pointer;
    color: #000;
    font-weight: bold;
}

a {
    color: #000;
    font-weight: bold;
}

img {
    max-width: 100%;
    display: block;
}

figcaption, figcaption a {
    text-decoration: none;
    text-align: center;
    font-size: 0.7em;
}

.left {
    float: left;
    text-align: left;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

.right {
    float: right;
    text-align: right;
}

/* Fejléc */

@media (max-width: 600px) {
    .headerinside {
        margin: 0px;
    }

}

@media (min-width: 600px) {
    .headerinside {
        margin: 10px 10px 0px 10px;
    }
}

.headerinside {
    position: relative;
    background-image: url("./images/header.jpg");
    background-position: center;
    height: 200px;
    padding: 0px;
    color: antiquewhite;
}

/* Lábléc */

.footerinside {
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 60px 140px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px 140px;
    padding: 0 10px 0 10px;
    color: #FFF;
}

.footerdiv2, .footerdiv2 a {
    padding: 10px 5px 10px 5px !important;
    text-align: center;
    color: #000;
    text-decoration: none;
}

.footerinside div {
    padding: 20px 5px 10px 5px;
    text-align: center;
}
  
  /* Explicit placement for IE */
  /* Omitting default value of -ms-grid-column: 1 and -ms-grid-row: 1 where possible */
  .footerinside div:nth-child(2) {
    -ms-grid-column: 2;
  }
  
  .footerinside div:nth-child(3) {
    -ms-grid-column: 3;
  }
  
  .footerinside div:nth-child(4) {
    -ms-grid-row: 2;
  }
  
  .footerinside div:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  
  .footerinside div:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  
  .footerinside div:nth-child(7) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }

/* Navigáció */
nav.greedy {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  nav.greedy button {
    align-self: stretch;
    transition: all .4s ease-out;
    background-image: linear-gradient(#333, #000);
    outline: 0;
    border: 0px;
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  nav.greedy button img {
    width: 40px;
    height: 40px;
    margin: 5px;
    z-index: 1;
    cursor: pointer;
  }
  
  nav.greedy button.hidden {
    transition: none;
    border-right: 0.0rem solid #b6b6b6;
    width: 0;
    padding: 0;
    overflow: hidden;
  }
  nav.greedy button::after {
    content: attr(count);
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    background: #9f9f9f;
    color: #f2f2f2;
    border-radius: 50%;
    font-size: 14px;
    padding-top: 5px;
    margin-left: -1rem;
    z-index: 10;
   /* margin-right: calc(-1rem + -8px);*/
    margin-top: -40px;
  }
  nav.greedy ul.links {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    overflow: hidden;
  }
  nav.greedy ul.links li {
    display: block;
    flex-wrap: nowrap;
  }
  
  nav.greedy ul.links li a {
    display: block;
    padding: 15px 9px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
  }
  
  nav.greedy ul.links li:hover, li.nav-active {
    background-color: #666;
  }
  
  nav.greedy ul.hidden-links {
    position: absolute;
    right: 0;
    top: 34px;
    background-color: #000;
    z-index: 99;
    opacity: 0.8;
  }
  
  nav.greedy ul.hidden-links li a {
    display: block;
    padding: 14px 9px;
    color: #999;
    text-decoration: none;
  }
  
  nav.greedy ul.hidden-links.hidden {
    display: none;
  }
  nav.greedy ul.hidden-links li {
    padding: 0rem;
  }

/* Táblázatok */

.tablazatfejlec, .tablazatfejlec tr {
    background-image: linear-gradient(to right, #666666, #999999);
    font-size: 1.3em;
    font-weight: bold;
}

.tablazatfejlec p, .footerdiv2 p {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.sor0, .sor0 tr {
    background-image: linear-gradient(to right, #999, #666);
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
}

.sor1, .sor1 tr {
    background-image: linear-gradient(to right, #CC0000, #990000);
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
}

.sor2, .sor2 tr {
    background-image: linear-gradient(to right, #0066CC, #003366);
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
}

.osszesitett, #osszesitett {
    padding: 0px;
    margin-top: 0px;
    border: 0px;
    width: 100%;
}

.noborder, .noborder table, .noborder tr, .noborder td {
    border: 0px;
    vertical-align: top;
}

.noborder td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/* Formok */

select, input {
    /*width: 20ch;*/
    border: 1px solid lightgray;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1rem;
    cursor: auto;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

textarea {
    width: 60ch;
    height: 10ch;
    border: 1px solid lightgray;
    border-radius: 0.45em;
    padding: 0.25em 0.5em;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.checkbox {
    position: relative;
    text-align: left;
    padding-left: 0.3em;
    cursor: pointer;
    font-size: 1.5em;
    vertical-align: middle;
    padding-bottom: 0.5em;
}

.checkbox input {
    display: block;
    position: relative;
    min-width: 0;
    float: left;
    margin-right: 0.3em;
    width: 1.1em;
    height: 1.1em;
}

.submit {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

label {
    position: relative;
    padding-left: 0.3em;
}

.szerklabel {
    position: relative;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 0.3em;
}

/* Tartalom */

.infobox {
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 500px;
    background-color: black;
    color:rgb(224, 224, 224);
    opacity: 0.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.infobox div {
    padding: 0.1em 0.5em 0.1em 0.5em;
}

.oldalcim {
    font-size: 1.5em;
    font-weight: bold;
    padding: 3px;
    background: rgb(224, 224, 224);
    margin: 5px 0px 10px 0px;
    box-shadow: 2px 2px 5px dimgrey;
}

.oldalcim p {
    margin: 0;
}

.title {
    font-weight: bold;
    font-size: 36px;
    text-shadow: 0px 0px 5px #000;
    position: absolute;
    top: 30px;
    left: 20px;
}

/* Üzenetek */

.uzenetek {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    max-width: fit-content;
}

.uzenet {
    padding: 10px 0px 5px 20px;
}

.uzenet p {
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.uzenet label {
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 0px;
}

.uzenetkomment {
    display: block;
    padding: 0px;
    margin-left: 10px;
    width: 70%;
}

.uzenetujkomment {
    display: grid;
    justify-content: right !important;
}

.uzenetujkomment div {
    padding: 0px 0px 0px 0px !important;
}

.elvalaszto {
    margin: 5px 40px 0px 40px;
    height: 3px;
    border-bottom: 1px solid #666;
    position: relative;
}

.komment {
    border-radius: 1em 2em;
    background-color: #666;
    padding: 0px 10px 0px 10px;
}

.hirfej, .hirfej a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
}

.breadcumblist {
    float: left;
    padding: 0px 0px 15px 0px;
    font-size: small;
  }

  .breadcumblist ol {
    margin: 0;
    padding: 0;
  }

.breadcumblist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  .breadcumblist li {
    float: left;
    padding: 0px 5px;
  }
  
  .breadcumblist li a {
    display: block;
    color: #000;
    text-align: center;
    text-decoration: none;
  }
  
  .breadcumblist li a:hover {
  }


/* Egyéni elemek */

#fejlec {
    padding-top: 1em;
}


/* Toaster üzenet */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

/* Felsőmenü */
.topmenubase {
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    padding: 5px;
    background-color: #f7f7f7;
    border: 1px solid rgb(126, 124, 124);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 0px 5px 10px 0px #252526;
}

.topmenuikonok {
    float: right;
}

.topmenuikonok img {
    width: 40px;
    height: 40px;
}

/* Balmenü */
.leftmenuareabase {
    background-color: #2d373c;
    width: 200px;
    font-family: "inter","Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    border-right: 1px solid gray;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.leftmenuarea {
    padding-top: 12px;
    width: 200px;
    left: 0;
    right: 0;
    position: absolute;
    padding-bottom: 60px;
}

.leftmenu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column!important;
    padding-left: 0;
    list-style: none;
    border-right: 1px solid gray;
}

.leftmenuitem, .leftmenuitem a, .leftmenuitem-active, .leftmenuitem-active a{
    width: 100%;
    flex-wrap: wrap;
    list-style: none;
    color: rgb(212, 211, 211);
    text-decoration: none;
    border-radius: 0;
    /*padding: 6px 0px 6px 0px;*/
    display: inline-block;
}

 .leftmenuitem a:hover, .leftmenuitem a, .leftmenuitem-active a {
    padding: 12px 0px 12px 0px;
}

.leftmenuitem a, .leftmenuitem-active a, .leftmenuitem a:hover {
    padding-left: 25px;
}

.leftmenuitem-active, .leftmenuitem-active a{
    color: #007acc;
    background-color: #1f282d;
} 

.leftmenuitem a:hover {
    color: #663399;
    background-color: #1f282d;
}

.leftmenu-sub {
    box-shadow: inset 0px 5px 5px 0px #252526;
    background-color: #707070 !important;
}
.leftmenu-sub, .leftmenu-sub a:hover {
    padding: 6px 0 6px 0 !important;
}

.leftmenu-sub :hover {
    background-color: transparent !important;
}

.leftmenusubitem, .leftmenusubitem a, .leftmenusub-active, .leftmenusub-active a {
    width: 100%;
    flex-wrap: wrap;
    list-style: none;
    color: rgb(212, 211, 211);
    text-decoration: none;
    border-radius: 0;
    padding: 6px 0px 6px 0px;
    display: block;
}

.leftmenusubitem a, .leftmenusubitem a:hover, .leftmenusub-active a, .leftmenusub-active a:hover {
    padding-left: 25px !important;
}

.leftmenusubitem :hover {
    color: #663399;
}

.leftmenusub-active, .leftmenusub-active a {
    color: #007acc;
}

.bottom-line, .bottom-line a {
    height: 30px;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    color: rgb(212, 211, 211);
    background-color: #000;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.addnew {
    float: right;
    padding-right: 5px;
}