@font-face {
    font-family: "inter";
    src: url("./includes/Inter-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "bench";
    src: url("./includes/BenchNine-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "roboto";
    src: url("./includes/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "oswald";
    src: url("./includes/Oswald-Regular.ttf") format('truetype');
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* ------------------------------- Az oldal "alapbeállításai" ------------------------------- */
body {
    margin: 0;
    display: block;
    font-family: "roboto";
    background-color: #000;
    scrollbar-gutter: unset;
    overflow-x: hidden;
}

.wrapper {
    display: grid;
    justify-content: center;
    background-color: #2d373c;
    grid-template-columns: minmax(50px, 200px) 1fr 1fr;
    grid-template-rows: 50px minmax(500px, 1fr) minmax(0px, 200px) 30px;
    min-height: 100vh;
    margin: 0;
}

h1, h2, h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    margin-top: 0em;
    margin-bottom: 0.5em;
}

a {
    color: #000;
    font-weight: bold;
}

img {
    max-width: 100%;
    display: block;
}

figcaption, figcaption a {
    text-decoration: none;
    text-align: center;
    font-size: 0.7em;
}

ol, ul {
    list-style: none;
    padding-left: 0px;
}

/* Görgetősáv */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #717a7f;
    border-radius: 100px;
    margin: 0 20px 0 20px;
}

::-webkit-scrollbar-thumb {
    background: #35454d;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #212b30;
    border-radius: 100px;
}

/* Oldaltörzs alapbeállítások */
.PrintArea {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #ededed;
    /*justify-content: center;*/
    overflow: auto;
    box-shadow: 2px 2px 5px dimgrey;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.contentcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 20ch;
    max-width: 70ch;
}

.contentcenter input, .contentcenter select {
    width: 100%;
    text-align: left;
}

.contentcenter div {
    padding: 1em 0 0 0;
    margin: 0 auto;
}

.twocolgrid {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.twocolgrid div {
    padding: 0.5em;
}

.szerkeszt {
    display: grid;
    grid-template-columns: 1fr auto;
}

.help {
    cursor: pointer;
    padding-right: 0.5ch;
}

#magyarazat {
    display: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;
    padding: 0.5em;
    margin-left: 0.5em;
    background-color: #d5d8db;
    border-left: 2px solid;
    border-color: #858585;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 300px;
}

#magyarazat p {
    font-size: 0.8em;
    padding-bottom: 0.5em;
}

#magyarazat h2 {
    padding-bottom: 0.5em;
}

.ketharmad, .doublecolumn {
    display: grid;
    grid-gap: 1em;
    margin: 10px;
    align-items: start;
    justify-content: center;
}

.doublecolumn h2 {
    margin-bottom: 1em;
}

.ketharmad {
    grid-template-columns: 2fr 1fr;
}

.doublecolumn {
    grid-template-columns: 1fr 1fr;
}

.ketharmad div, .doublecolumn div {
    padding: 0 0 1em 0;
}

.ketharmad input[type="submit"], .ketharmad input[type="text"], .ketharmad textarea, .ketharmad select,
.doublecolumn input[type="submit"], .doublecolumn input[type="text"], .doublecolumn textarea, .doublecolumn select,
.fullsizebutton {
    max-width: 100%;
    width: 100%;
}

.dyntripplecol {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) minmax(0px, max-content) minmax(0px, 1fr);
    grid-gap: 1em;
}

/* Információs doboz */
.infobox {
    max-width: max-content;
    max-height: 55vh;
    overflow: hidden;
}

.infobox a {
    text-decoration: none;
    color:#007acc;
    font-weight: normal
}

.infoboxtitle {
    /*background-color: #d5d8db;*/
    background-color: #0f2c3a7c;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.8em;
    border: 1px solid #66747a;
    height: 2.7em;
}

.infoboxbody {
    background-color: #dfe3e6;;
    font-size: 0.9em;
    padding: 1em 1em 0 1em;
    margin: 0 auto auto auto;
    max-height: calc(55vh - 3.5em);
    overflow-y: auto;
    border-left: 1px solid #9aa3a7;
    border-bottom: 1px solid #9aa3a7;
    border-right: 1px solid #9aa3a7;
}

.infoboxbody::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.infoboxbody::-webkit-scrollbar-track {
    background-color: #717a7f;
    border-radius: 100px;
    margin: 20px 0 20px 0;
}

.infoboxbody::-webkit-scrollbar-thumb {
    background: #35454d;
    border-radius: 100px;
}

.infoboxbody::-webkit-scrollbar-thumb:hover {
    background: #212b30;
    border-radius: 100px;
}

.infoboxbodytwocol {
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
}

.infoboxbodytwocol div {
    padding: 0em 0.5em 0.6em 0.5em;
}

.infoboxbodytwocol div:nth-child(odd) {
    font-weight: bold;
}

/* Felületek megjelenése */
/* Szerkesztő felület */
.szerkcard {
    border: 2px #82868f solid;
    border-radius: 15px;
}

.szerkcardtitle {
    background-color: #d5d8db;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom: 1px #bdc4c7 solid;
    font-size: 1.3em;
    font-weight: bold;
    padding: 1em;
}

.szerkcardoptions {
    display: flex;
    flex-direction: row;
    height: 3em;
    text-align: center;
    vertical-align: middle;
}

.szerkcardoptionelement {
    background-color: #dfe3e6;
    font-size: 1em;
    padding-top: 0.5em;
    height: 2.2em;
    transition: 0.5s;
    border-bottom-right-radius: 0.7em;
}

.szerkcardoptionelement span {
    padding: 1em 1em 0.5em 0.5em;
    cursor: pointer;
    font-weight: bold;
}

.szerkcardoptionelement span::before {
    padding-right: 0.5em;
    border-left: 1px #ccc solid;
    content: "";
}

.szerkcardoptionelement:hover {
    padding-top: 1em;
    height: 2.7em;
    transition: 0.5s;
}

.szerkcardbody {
    padding: 0.7em 2em 1.5em 2em;
}

/* Táblázat overlay */
.tablecard {
    display: block;
    height: 100%;
    background-color: #dfe3e6;
}

.tablecardtitle {
    background-color: #d5d8db;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.8em;
    border-bottom: 1px solid #bbbbbb;
}

.tablecardbody table {
    width: calc(100% - 2em);
    margin: 1em;
}

/* Általános szövegmegjelenítés */
.szovegtartalom {
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;
    min-width: 40ch;
    max-width: 600px;
    max-width: fit-content;
}

.szovegtartalom ul {
    list-style: disc;
    padding-left: 2ch;
}

/* ------------------------------- Beviteli elemek ------------------------------- */
button, .submit input, input[type="submit"] {
    max-width: max-content;
    font-family: "roboto";
    font-size: 1em;
    padding: 6px;
    cursor: pointer;
    color: #fff;
    background-color: #007acc;
    border: 1px solid;
    border-radius: 6px;
    border-color: #004b7e;
    transition: 0.3s;
    background-image: none;
}

button:hover, .submit input:hover, input[type="submit"]:hover {
    background-color: #1c4663;
    /*box-shadow: 0px 0px 5px 1px #012c49;*/
}

select, input {
    /*width: 20ch;*/
    border: 1px solid lightgray;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1rem;
    cursor: auto;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

textarea {
    height: 10ch;
    border: 1px solid lightgray;
    border-radius: 0.45em;
    padding: 0.25em 0.5em;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

label {
    position: relative;
    font-size: 1.2em;
    font-weight: bold;
}

.submit {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.submit button {
    max-width: 100%;
    width: 100%;
}

.checkbox {
    position: relative;
    text-align: left;
    padding-left: 0.3em;
    cursor: pointer;
    font-size: 1.5em;
    vertical-align: middle;
    padding-bottom: 0.5em;
}

.checkbox input {
    display: block;
    position: relative;
    min-width: 0;
    float: left;
    margin-right: 0.3em;
    width: 1.1em;
    height: 1.1em;
}

/* On-Off kapcsoló formokhoz */
/* A container div */
.kapcsolo {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* A checkbox elrejtése */
.kapcsolo input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* A csúszka rész */
.slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e0e0e0;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* ------------------------------- Táblázatok ------------------------------- */
/* Táblázat alapbeállítások */
table {
    font-family: "roboto", "bench";
    font-size: 0.9em;
    display: block;
    border: 0px;
    border-collapse: collapse;
}

thead {
    background-color: #666;
    font-size: 1.1em;
    font-weight: bold;
}

tr, td, th {
    border: 0px;
    padding: 0.4em 0.3em 0.4em 0.3em;
    text-align: left;
}

tr a, td a, th a {
    text-decoration: none;
}

td img {
    max-width: initial;
}

/* Speciális táblázatok */
.tsorth {
    cursor: pointer;
    font-size: 1.2em;
}

.tsorth input {
    width: 100%;
    font-size: 0.7em;
    padding: 5px;
    margin-bottom: 5px;
}

.valtottsor-1, .valtottsor-2, .kattinthatotr, .kattinthatotr-1, .kattinthatotr-2  {
    color: #000;
    font-weight: bold;
}

.kattinthatotr, .kattinthatotr-1, .kattinthatotr-2{
    cursor:pointer;
}

.valtottsor-2, .kattinthatotr-2 {
    background-color: #bbb;
}

.valtottsor-1 select, .valtottsor-1 input[type="text"], .valtottsor-2 select, .valtottsor-2 input[type="text"] {
    background: none;
}

.online {
    color: #018216;
    font-weight: bold;
}

.offline {
    color: #990000;
}

/* ------------------------------- Egyszerű igazításhoz használt típusok ------------------------------- */
.left {
    float: left;
    text-align: left;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

.right {
    float: right;
    text-align: right;
}

/* ------------------------------- Fejléc ------------------------------- */
.topmenubase {
    top: 0;
    height: 50px;
    width: 100%;
    padding: 5px;
    background-color: #f7f7f7;
    border: 1px solid #807d7d;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 0px 5px 10px 0px #252526;
}

.topmenuikonok {
    display: inline-flex;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: right;
    margin-right: 5px;
}

.topmenuikonok a {
    display: block;
    text-decoration: none;
    font-family: "inter","Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 1.2rem;
}

.topmenuikonok img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s;
}

.topmenuikonok img:hover {
    filter: brightness(40%);
    transition: 0.5s;
}

.headlogo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.kereses {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.kereses button {
    max-width: 7ch;
}

/* Fejléc lenyíló elemei */
#profilpopup, #notifpopup {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    font-family: "inter","Source Sans Pro",Helvetica,Arial,sans-serif;
    color: #e2e2e2;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 50px;
}

#profilpopup {
    text-align: right;
    right: 0px;
}

#notifpopup {
    background-color: #1f282d;
    right: 45px;
    width: 400px;
    max-height: 500px;
    overflow-y: overlay;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

#notifpopup::-webkit-scrollbar {
    width: 10px;
}

#notifpopup::-webkit-scrollbar-track {
    background: #151c1f;
    border-radius: 100px;
    margin: 20px 0 20px 0;
}

#notifpopup::-webkit-scrollbar-thumb {
    background: #3d4d54;
    border-radius: 100px;
}

#notifpopup::-webkit-scrollbar-thumb:hover {
    background: #2d373c;
    border-radius: 100px;
}

#profilpopup a {
    padding: 12px 20px 12px 20px;
    background-color: #2d373c;
    text-decoration: none;
    color: #e2e2e2;
    font-variant: small-caps;
    font-size: 1.2rem;
}

#notifpopup a {
    display: block;
    margin: 10px;
    padding: 5px 5px 15px 5px;
    min-height: 100px;
    max-height: fit-content;
    width: 380px;
    text-decoration: none;
    color: #cdcdcd;
    font-size: 0.8rem;
}

#notifpopup a:hover {
    display: block;
    background-color: #2d373c;
    border-radius: 10px;
}

#notifpopup :hover {
    color: #cdcdcd;
}

#profilpopup a:hover {
    color: #663399;
    background-color: #1f282d;
}

#profilpopup.show, #notifpopup.show {
    visibility: visible;
}

#notifications {
    position: relative;
}

#notifcount {
    position: absolute;
    padding-top: 3px;
    right: 0;
    top: 22px;
    width: 20px;
    height: 20px;
    z-index: 99;
    border-radius: 50%;
    opacity: 0.8;
    background-color: #990000;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
}

.notifitem-latta {
    display: block;
    color: #43545e;
}

.notifitem {
    display: block;
}

.notiftitle {
    font-size: 1rem;
}

.notiftime {
    text-align: right;
    font-size: 0.5rem;
}

#seenallnotif {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
}

#seenallnotif p {
    cursor: pointer;
    width: fit-content;
    margin: auto;
}

#seenallnotif p:hover {
    color: #663399;
}

/* ------------------------------- Lábléc ------------------------------- */
.bottom-line, .bottom-line a {
    height: 30px;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    color: #e0e0e0;
    background-color: #000;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

/* ------------------------------- Főmenü ------------------------------- */
.leftmenuareabase {
    background-color: #2d373c;
    width: 200px;
    font-family: "inter","Source Sans Pro",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-variant: small-caps;
    border-right: 1px solid gray;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.leftmenuarea {
    padding-top: 12px;
    width: 200px;
    left: 0;
    right: 0;
    position: absolute;
    padding-bottom: 0;
}

.leftmenu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column!important;
    padding-left: 0;
    list-style: none;
    border-right: 1px solid gray;
}

.leftmenuitem, .leftmenuitem a, .leftmenuitem-active, .leftmenuitem-active a {
    width: 100%;
    flex-wrap: wrap;
    list-style: none;
    color: #e0e0e0;
    text-decoration: none;
    border-radius: 0;
    display: inline-block;
}

.leftmenuitem {
    background-color: #2d373c;
}

 .leftmenuitem a:hover, .leftmenuitem a, .leftmenuitem-active a {
    padding: 12px 0px 12px 0px;
}

.leftmenuitem a, .leftmenuitem-active a, .leftmenuitem a:hover {
    padding-left: 25px;
}

.leftmenuitem-active, .leftmenuitem-active a{
    color: #007acc;
    background-color: #1f282d;
} 

.leftmenuitem a:hover {
    color: #663399;
    background-color: #1f282d;
}

.leftmenu-sub {
    background-color: #717a7f !important;
}

.leftmenu-subtop {
    height: 8px;
    background-image: linear-gradient(#252526, #717a7f);
}

.leftmenu-sub a:hover {
    padding: 6px 0 6px 0 !important;
}

.leftmenusubitem, .leftmenusubitem a, .leftmenusub-active, .leftmenusub-active a {
    width: 100%;
    flex-wrap: wrap;
    list-style: none;
    color: #e0e0e0;
    text-decoration: none;
    border-radius: 0;
    display: block;
}

.leftmenusubitem a, .leftmenusubitem a:hover, .leftmenusub-active a, .leftmenusub-active a:hover {
    padding: 12px 0px 12px 25px !important;
}

.leftmenusubitem a:hover, .leftmenusub-active a:hover {
    color: #663399;
    background-color: #35454d;
}

.leftmenusub-active, .leftmenusub-active a {
    color: #007acc;
    background-color: #35454d;
}

.addnew {
    float: right;
    padding-right: 5px;
}

/* ------------------------------- Breadcumbok ------------------------------- */
.breadcumblist {
    float: left;
    padding: 0px 0px 15px 0px;
    font-size: small;
}

.breadcumblist ol {
    margin: 0;
    padding: 0;
}

.breadcumblist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
  
.breadcumblist li {
    float: left;
    padding: 0px 5px;
}
  
.breadcumblist li a {
    display: block;
    color: #000;
    text-align: center;
    text-decoration: none;
}

/* ------------------------------- Tartalmi elemek ------------------------------- */
/* Oldal cím */
.oldalcim {
    position: relative;
    height: 1.6em;
    font-size: 1.5em;
    font-weight: bold;
    padding: 3px;
    background: #e2e2e2;
    margin: 5px 0px 10px 0px;
    box-shadow: 2px 2px 5px dimgrey;
}

.oldalcim p {
    margin: 0;
}

/* Szerkesztő gombok */
.szerkgombsor {
    display: inline-flex;
}

.szerkgombsor button {
    margin: 0.5em 0.5em 0.5em 0;
}

/* Lenyílók a címben */
.szuresvalaszto, .help {
    position: relative;
    float: right;
    text-align: right;
    padding-top: 0px;
}

/* Közlemények */
.kozlemenyfej, .kozlemenyfej a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
}

.kozlemenyside {
    font-size: 0.8em;
}

.kozlemenyside .kozlemenyfej {
    font-size: 0.7em;
}

.elvalaszto {
    margin: 5px 40px 0px 40px;
    height: 3px;
    border-bottom: 1px solid #666;
    position: relative;
}

/* ------------------------------- Overlayek ------------------------------- */
/* Egészképernyős átfedés */
.atfedes, .formkuldatfedes {
    display: none;
    position: fixed;
    padding-top: 100px;
    text-align: center;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.atfedes-content {
    background-color: #e0e0e0;
    margin: auto;
    padding: 15px 15px 10px 15px;
    border: 1px solid #888;
    width: 40em;
}
  
.close {
    color: #aaaaaa;
    float: right;
    margin-top: -15px;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.formkuldmessage {
    padding-top: 200px;
    color: #f3f3f3;
    font-size: 1em;
    font-weight: bold;
}

.loader {
    display: inline-block;
    margin-top: 10px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* Toaster üzenet */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}
  
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

/* Beúszó menü */
#slidein-1, #slidein-2, #slidein-3, #slidein-4 {
    visibility: hidden;
    background-color: #dfe3e6;
    z-index: 1;
    width: 500px;
    top: 8em;
    right: -500px;
    position: absolute;
    margin: auto;
    border-radius: 1em;
}

#slidein-1.show, #slidein-2.show, #slidein-3.show, #slidein-4.show {
    visibility: visible;
    top: 8em;
    right: 0;
    animation: 1s ease-in-out 0s 1 slideIn;
}

#slidein-1.hide, #slidein-2.hide, #slidein-3.hide, #slidein-4.hide {
    visibility: visible;
    animation: 1s ease-in-out 0s 1 slideOut;
}
  
  @keyframes slideIn {
    from {right: -500px}
    to {right: 0}
  }

  @keyframes slideOut {
    from {right: 0}
    to {right: -500px}
  }

/* Felúszó menü */
#slideup-1, #slideup-2, #slideup-3, #slideup-4 {
    box-shadow: 0px -2px 5px dimgrey;
    visibility: hidden;
    width: calc(100% - 260px);
    z-index: 1;
    left: 230px;
    bottom: -250px;
    height: 250px;
    overflow: auto;
    position: fixed;
}

#slideup-1.show, #slideup-2.show, #slideup-3.show, #slideup-4.show {
    visibility: visible;
    bottom: -5px;
    left: 230px;
    animation: 1s ease-in-out 0s 1 slideUp;
}

#slideup-1.hide, #slideup-2.hide, #slideup-3.hide, #slideup-4.hide {
    visibility: visible;
    animation: 1.5s ease-in-out 0s 1 slideDown;
}
  
  @keyframes slideUp {
    from {bottom: -250px}
    to {bottom: -5px}
  }

  @keyframes slideDown {
    from {bottom: -5px}
    to {bottom: -250px}
  }

/* Üzenetek */
.uzenetek {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    max-width: fit-content;
}

.uzenet {
    padding: 10px 0px 5px 20px;
}

.uzenet p {
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.uzenet label {
    font-weight: bold;
    font-size: 1.5em;
    padding-left: 0px;
}

.uzenetkomment {
    display: block;
    padding: 0px;
    margin-left: 10px;
    width: 70%;
}

.uzenetujkomment {
    display: grid;
    justify-content: right !important;
}

.uzenetujkomment div {
    padding: 0px 0px 0px 0px !important;
}

.komment {
    border-radius: 1em 2em;
    background-color: #666;
    padding: 0px 10px 0px 10px;
}

/* ------------------------------- Nyomtatási kép ------------------------------- */
@media print {
    body {
        background-color: #FFF !important;
    }

    body * {
        visibility: hidden;
    }

    *:before, *:after {
        display: none;
    }

    .PrintArea, .PrintArea * {
       visibility: visible;
    }

    .PrintArea {
        background: white;
        position: absolute;
        left: 0;
        top: 0;
    }

    .dontprint, .dontprint td, .dontprint th, .szuresvalaszto {
        visibility: hidden !important;
        display: none;
    }

    th {
        color-adjust: exact;
        background-color: #888;
    }

    .portnev th, .portnev td, .portnev input {
        width: 25ch !important;
    }

    .kattinthatotr-1 {
        color-adjust: exact;
    }

    .offline {
        background-color: transparent !important;
    }
    
    .kattinthatotr-2 {
        background-color: #ddd !important;
        color-adjust: exact;
    }

    .valtottsor-1, .valtottsor-2, .valtottsor-1 tr, .valtottsor-2 tr, .valtottsor-1 td, .valtottsor-2 td {
        padding: 0 !important;
    }

    input, select {
        font-size: 0.6rem !important;
        border: none !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        padding: 0;
    }

    @page {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 72px;
        padding-bottom: 72px;
    }

    @page :header {
        display: none;
    }

    @page :footer {
        display: none;
    }
}

/* ------------------------------- Internet Explorer kompatibilitás ------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .body {
        margin: 0;
        display: -ms-grid;
        -ms-grid-columns: 200px 1fr 1fr;
        -ms-grid-rows: 50px 1fr 200px 30px;
    }

    /* Explicit placement for IE */
    /* Omitting default value of -ms-grid-column: 1 and -ms-grid-row: 1 where possible */
    .content {
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        -ms-grid-column: 2;
        -ms-grid-column-span: 3;
        margin-left: auto;
        margin-right: auto;
        min-height: 700px;
    }

    .topmenubase {
        -ms-grid-row: 1;
        -ms-grid-column-span: 3;
    }

    .topmenuikonok {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
        position: absolute;
        right: 0px;
        top: 5px;
    }

    #profilpopup {
        top: 45px!important;
    }

    .kereses {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    .leftmenuareabase {
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
    }

    .footer {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
    }

    .bottom-line {
        -ms-grid-row: 4;
        -ms-grid-column-span: 4;
    }
}